* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgb(47,150,163), rgb(48,62,143));
  font-family: 'Arial', sans-serif;
  color: white;
}

.location, .temperature {
  height: 35vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.temperature {
  flex-direction: column;
  line-height: 2em;
  padding: 20px;
}

.degree-section {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.degree-section span {
  margin: 10px;
  font-size: 40px;

}

.degree-section h2 {
  font-size: 40px;

}

.temperature-description {
  font-size: 24px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 1em;
  text-align: left;
  margin-left: 0;
}

.minutely {
  margin: 0 auto;
  margin-top: 0.5em;
  margin-bottom: 0;
  text-align: left;
  margin-left: 0;
}

.hourly {
  margin: 0 auto;
  margin-top: 3em;
  margin-bottom: 1em;
  text-align: left;
  margin-left: 0;
}

@media only screen and (max-device-width: 480px) {
  .temperature {
    flex-direction: column;
    line-height: 1.5em;
    padding: 15px;
  }
  .location, .temperature {
    height: 35vh;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
.temperature-description {
  font-size: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 1em;
  text-align: left;
  margin-left: 0;
  }
  .degree-section h2 {
    font-size: 30px;
  }
  .degree-section span {
    margin: 10px;
    font-size: 30px;
  }
  .hourly {
    margin: 0 auto;
    margin-top: 3em;
    margin-bottom: 1em;
    text-align: left;
    margin-left: 0;
    font-size: 12px;
  }
  .minutely {
    margin: 0 auto;
    margin-top: 0.5em;
    margin-bottom: 0;
    text-align: left;
    margin-left: 0;
    font-size: 12px;
  }
  h1.locationName {
    font-size: 30px;
  }
}
